<!DOCTYPE html>
<html lang="zh-Hant-TW">

    <head>
        <title>域名例表</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style>
            a:link {
                color: #0000FF;
            }

            a:visited {
                color: #FF0000;
            }

            th {
                text-align: left;
            }

            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>

    <body>
        <h1>域名例表</h1>
        <p>{% key=time content=建立時間:%s %}</p>
        <p>Web Archive 記錄</p>
        <table style="width:100%">
            <tr>
                <th>編號</th>
                <th>名稱</th>
                <th>快照</th>
                <th>juming</th>
                <th>百度域名</th>
                <th>百度網享</th>
                <th>360搜尋</th>
                <th>360搜網站</th>
                <th>搜狗域名</th>
                <th>搜狗搜尋</th>
            </tr>
            {% key=record content=<tr><td>%d</td><td>%s</td><td>%s</td><td>%s</td><td>%s</td><td>%s</td><td>%s</td><td>%s</td><td>%s</td><td>%s</td></tr> %}
        </table>

    </body>

</html>